
<h1><%= @bathroom.name if @bathroom.name %></h1>
<p>Location: <%= @bathroom.location if @bathroom.location %></p>
<p>Overall Rating: <%= @bathroom.rating if @bathroom.rating %></p>
<p>Cleanliness: <%= @bathroom.cleanliness if @bathroom.cleanliness %>, Comfort: <%= @bathroom.comfort if @bathroom.comfort %>, Smell: <%= @bathroom.smell if @bathroom.smell %>, Availability: <%= @bathroom.availability if @bathroom.availability %></p>
<h3> Reviews (<%= @bathroom.review_count if @bathroom.review_count %>) </h3>
<% list = Review.where(bathroom:@bathroom.id) %>
<% for @review in list do %>
	<h4> Review by: <%= User.find(@review.user_id).name %> <h4>
	<p> "<%= @review.text if @review.text %>" </p>
	<p>Overall Rating: <%= @review.overall_rating if @review.overall_rating %></p>
	<p> Cleanliness: <%= @review.cleanliness if @review.cleanliness %>, Comfort: <%= @review.comfort if @review.comfort %>, Smell: <%= @review.smell if @review.smell %>, Availability: <%= @review.availability if @review.availability %></p>
<% end %>