
<h1>Bathroom: <%= @bathroom.name if @bathroom.name %></h1>
<p>Location: <%= @bathroom.location if @bathroom.location %></p>
<p>Overall Rating: <%= @bathroom.rating ? @bathroom.rating : 'N/A' %></p>
<p>Cleanliness: <%= @bathroom.cleanliness ? @bathroom.cleanliness : 'N/A' %>, Comfort: <%= @bathroom.comfort ? @bathroom.comfort : 'N/A' %>, Smell: <%= @bathroom.smell ? @bathroom.smell : 'N/A' %>, Availability: <%= @bathroom.availability ? @bathroom.availability : 'N/A' %></p>
<h3> Reviews (<%= @bathroom.review_count if @bathroom.review_count %>) </h3>
<% list = Review.where(bathroom:@bathroom.id) %>
<% for @review in list do %>
	<% @user = User.find(@review.user_id) %>
	<h4> Review by: <%= link_to @user.name, @user %> <h4>
	<p> "<%= @review.text if @review.text %>" </p>
	<p>Overall Rating: <%= @review.overall_rating if @review.overall_rating %></p>
	<p> Cleanliness: <%= @review.cleanliness if @review.cleanliness %>, Comfort: <%= @review.comfort if @review.comfort %>, Smell: <%= @review.smell if @review.smell %>, Availability: <%= @review.availability if @review.availability %></p>
<% end %>