<h1>User: <%= @user.name if @user.name %></h1>
<p>Location: <%= @user.city if @user.city %></p>
<%= image_tag @user.avatar %>

<h3> Reviews(<%= @user.review_count if @user.review_count %>): </h3>
<% list = Review.where(user:@user.id) %>
<% for @review in list do %>
<% @bathroom = Bathroom.find(@review.bathroom_id) %>
	<h4> Review for: <%= link_to @bathroom.name, @bathroom %> <h4>
	  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-1">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Overall Rating</th>
          <th><%= @bathroom.rating ? @bathroom.rating : 'N/A' %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Cleanliness
          </td>
          <td><%= @bathroom.cleanliness ? @bathroom.cleanliness : 'N/A' %></td>
        </tr>
        <tr>
          <td>
             Comfort
          </td>
          <td><%= @bathroom.comfort ? @bathroom.comfort : 'N/A' %></td>
        </tr>
        <tr>
          <td>
            Smell
          </td>
          <td> <%= @bathroom.smell ? @bathroom.smell : 'N/A' %></td>
        </tr>
        <tr>
          <td>
            Availability
          </td>
          <td><%= @bathroom.availability ? @bathroom.availability : 'N/A' %></td>
        </tr>
      </tbody>
    </table>
<% end %>